{% if post and post.get('id') %}
    {% set route = 'editArticle' %}
    {% set submit = 'Mettre à jour' %}
{% else %}
    {% set route = 'addArticle' %}
    {% set submit = 'Ajouter' %}
{% endif %}
<form method="post" action="../public/index.php?route={{ route }}">
    <label for="title">Titre</label><br>
    <input type="text" id="title" name="title" value="{{ post.get('title') }}"><br/>
    {% if errors.title %}
        <p>{{ errors.title }}</p>
    {% endif %}
    <label for="content">Contenu</label><br>
    <textarea id="content" name="content">{{ post.get('content') }}</textarea><br>
    {% if errors.content %}
        <p>{{ errors.content }}</p>
    {% endif %}
    <input type="submit" value="{{ submit }}" id="submit" name="submit">
</form>